In [21]:
import requests

In [22]:
url = "https://www.worldometers.info/coronavirus"

In [23]:
req = requests.get(url)

In [24]:
req

In [25]:
from lxml.html import fromstring

In [26]:
root = fromstring(req.text)

In [29]:
table = root.xpath(".//table[@id='main_table_countries_today'][1]")[0]

In [30]:
table

In [31]:
thead = table.xpath(".//thead/tr/th")

In [32]:
def is_visible(attr):
    if 'style' in attr.attrib:
        style = attr.get('style')
        if style.__contains__("display:none") or style.__contains__("display: none"):
            return False
    return True

In [33]:
columns = list()

In [34]:
for th in thead:
    if is_visible(th) is True:
        columns.append(th.text_content().replace('\n', '').replace(u'\xa0', u'').strip())

In [ ]:
columns

In [36]:
tbody = table.xpath(".//tbody/tr")

In [37]:
tags = list()
values = list()

In [38]:
for tr in tbody:
    if is_visible(tr) is True:
        tag = tr.xpath(".//td/a")
        if len(tag) > 0:
            tags.append(tag[0].get('href').strip().replace('country/', '').replace('/', ''))

        values.append([value.text_content().strip() for value in tr.xpath(".//td") if is_visible(value) is True])

In [39]:
tags

['us',
 'spain',
 'italy',
 'uk',
 'russia',
 'france',
 'germany',
 'brazil',
 'turkey',
 'iran',
 'canada',
 'peru',
 'india',
 'belgium',
 'netherlands',
 'saudi-arabia',
 'mexico',
 'switzerland',
 'pakistan',
 'ecuador',
 'portugal',
 'chile',
 'sweden',
 'singapore',
 'ireland',
 'qatar',
 'belarus',
 'united-arab-emirates',
 'israel',
 'austria',
 'poland',
 'japan',
 'romania',
 'ukraine',
 'bangladesh',
 'indonesia',
 'south-korea',
 'philippines',
 'colombia',
 'denmark',
 'serbia',
 'dominican-republic',
 'south-africa',
 'egypt',
 'panama',
 'norway',
 'czech-republic',
 'kuwait',
 'australia',
 'malaysia',
 'morocco',
 'finland',
 'argentina',
 'algeria',
 'kazakhstan',
 'moldova',
 'bahrain',
 'ghana',
 'nigeria',
 'afghanistan',
 'luxembourg',
 'oman',
 'armenia',
 'hungary',
 'thailand',
 'greece',
 'iraq',
 'cameroon',
 'bolivia',
 'azerbaijan',
 'uzbekistan',
 'croatia',
 'bosnia-and-herzegovina',
 'guinea',
 'bulgaria',
 'honduras',
 'iceland',
 'cuba',
 'estonia',
 'cote-d-ivoire',
 'senegal',
 'macedonia',
 'new-zealand',
 'lithuania',
 'slovakia',
 'slovenia',
 'djibouti',
 'sudan',
 'china-hong-kong-sar',
 'tunisia',
 'kyrgyzstan',
 'somalia',
 'mayotte',
 'guatemala',
 'latvia',
 'democratic-republic-of-the-congo',
 'cyprus',
 'el-salvador',
 'albania',
 'sri-lanka',
 'niger',
 'lebanon',
 'maldives',
 'costa-rica',
 'andorra',
 'burkina-faso',
 'uruguay',
 'mali',
 'paraguay',
 'gabon',
 'kenya',
 'guinea-bissau',
 'san-marino',
 'georgia',
 'tajikistan',
 'channel-islands',
 'jordan',
 'tanzania',
 'jamaica',
 'malta',
 'taiwan',
 'equatorial-guinea',
 'reunion',
 'venezuela',
 'state-of-palestine',
 'mauritius',
 'isle-of-man',
 'montenegro',
 'chad',
 'sierra-leone',
 'viet-nam',
 'benin',
 'rwanda',
 'congo',
 'zambia',
 'ethiopia',
 'cabo-verde',
 'sao-tome-and-principe',
 'liberia',
 'madagascar',
 'faeroe-islands',
 'martinique',
 'myanmar',
 'swaziland',
 'guadeloupe',
 'togo',
 'haiti',
 'gibraltar',
 'french-guiana',
 'central-african-republic',
 'brunei-darussalam',
 'cambodia',
 'south-sudan',
 'bermuda',
 'trinidad-and-tobago',
 'uganda',
 'nepal',
 'aruba',
 'guyana',
 'monaco',
 'bahamas',
 'mozambique',
 'barbados',
 'liechtenstein',
 'cayman-islands',
 'sint-maarten',
 'libya',
 'french-polynesia',
 'malawi',
 'syria',
 'china-macao-sar',
 'angola',
 'mongolia',
 'saint-martin',
 'eritrea',
 'zimbabwe',
 'yemen',
 'antigua-and-barbuda',
 'timor-leste',
 'botswana',
 'grenada',
 'gambia',
 'laos',
 'belize',
 'fiji',
 'new-caledonia',
 'saint-lucia',
 'saint-vincent-and-the-grenadines',
 'nicaragua',
 'curacao',
 'dominica',
 'namibia',
 'burundi',
 'saint-kitts-and-nevis',
 'falkland-islands-malvinas',
 'turks-and-caicos-islands',
 'holy-see',
 'comoros',
 'montserrat',
 'greenland',
 'seychelles',
 'suriname',
 'mauritania',
 'papua-new-guinea',
 'british-virgin-islands',
 'bhutan',
 'caribbean-netherlands',
 'saint-barthelemy',
 'western-sahara',
 'anguilla',
 'saint-pierre-and-miquelon',
 'china']

In [17]:
import pandas as pd

In [18]:
data = pd.DataFrame(values, columns=columns)

In [19]:
data.head()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop
0,World,"4,120,535","+22,247","280,867",+643,"1,450,884","2,388,784","47,648",529,36.0,,
1,USA,"1,347,318",+9,"80,040",+3,"238,080","1,029,198","16,816","4,070",242,"8,918,345","26,943"
2,Spain,"264,663","+1,880","26,621",+143,"176,439","61,603","1,741","5,661",569,"2,467,761","52,781"
3,Italy,"218,268",,"30,395",,"103,031","84,842","1,034","3,610",503,"2,514,234","41,584"
4,UK,"215,260",,"31,587",,N/A,"183,329","1,559","3,171",465,"1,728,443","25,461"

In [20]:
data.to_csv('../data/overview.csv')