In [1]:
import covid_daily_data

In [2]:
covid_daily_data.__functions__

['overview(as_json)', 'data(country, chart, as_json)']

In [3]:
covid_daily_data.data(country='spain', chart='total-currently-infected-linear')

            Currently Infected
Date
2020-02-15                   0
2020-02-16                   0
2020-02-17                   0
2020-02-18                   0
2020-02-19                   0
...                        ...
2020-05-09               63148
2020-05-10               61603
2020-05-11               63553
2020-05-12               62130
2020-05-13               60764

[89 rows x 1 columns]